@use '../abstracts/variables.scss' as c;
@use '../abstracts/mixins.scss' as mx;

html {
  background-color: c.$body;
  box-sizing: border-box;
  font-size: 16px;
  background-image: url('../assets/images/bg-intro-mobile.png');
  @include mx.md {
    background-image: url('../assets/images/bg-intro-desktop.png');
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  display: grid;
  color: c.$white;
  text-align: center;
  padding: 2rem;

  @include mx.md {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

::placeholder {
  font-weight: 700;
}
